p, ul, ol, .brownie-head, .header{
    font-family: serif;
    color: white;
    line-height: 1.7;
}
body{
    background-color: rgb(88, 57, 39);
}

.content-description{
    text-align: center;
}

.content-ingredients{
    list-style-position: inside;
    text-align: center;
}
.content-steps{
    text-align: center;
    list-style-position: inside;
}

.steps{
    padding-right: 50px;
}

.ingredients{
    padding-right: 55px;
}
.brownie-picture{
    margin: 0 auto;
    
    display: block;
    border-radius: 50px;
    
    
}
.brownie-head{
    text-align: center;
    color: white;
    display: block;
    
    
}
.header{
    text-align: center;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
.line-one{
    border-bottom: 1px solid #888;
}
