p{
    font-family: 'Times New Roman', Times, serif;
}


.brownie-picture{
    display: block;
    border-radius: 50px;
    
}

.brownie-head{
    color: white;
    position: absolute;
    left:27%;
}

.header{
    text-align: center;
}

.line-one{
    border-bottom: 1px solid #888;
}